@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  
}
.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161616;
background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23dadada' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.home img {
  width: 150px;
  border-radius: 50%;
}
.home h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.discover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  cursor: pointer;
}
.down {
  background-color: #9c928685;
  border-radius: 50%;
  padding: 10px;
}
.discover :hover {
  transform: scale(1.1); 
}
.about-img{
 display: flex;
 justify-content: center;
 align-items: center;
}

  p {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
 
.contactComp{
  background-color: #161616;
background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23dadada' fill-opacity='0.07' fill-rule='evenodd'/%3E%3C/svg%3E");
}
